@import url('https://fonts.googleapis.com/css?family=Codystar');

/* #navbar {
    float: left;
    display: flex;
} */
.pageTitle {
    font-family: 'Codystar';
    text-align: center;
    font-size: 50px;
    ;
}

.main {
    background-color: white;
}

.titles {
    color: black;
}



/* .search {
    display: flex;
    justify-content: space-between;
    padding-left: 500px;

} */

/* .Home {
    padding-right: 30px;
}

.MyList {
    padding-right: 30px;
    padding-left: 20px;

}

.Profile {
    padding-right: 30px;
    padding-left: 20px;
} */