@import url('https://fonts.googleapis.com/css?family=Codystar');

/* #navbar {
    float: left;
    display: flex;
} */
.pageTitle {
    font-family: 'Codystar';
    text-align: center;
    font-size: 50px;
}

.main {
    background-color: white;
}

.titles {
    color: black;
}

.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #6765c7;
    border-radius: 10px;
    position: relative;
}

.container:hover {
    background-color: grey;
    color: white;
}

@container (max-width: 550px) {
    .container {
        width: 46%;
    }
}



/* .search {
    display: flex;
    justify-content: space-between;
    padding-left: 500px;

} */

/* .Home {
    padding-right: 30px;
}

.MyList {
    padding-right: 30px;
    padding-left: 20px;

}

.Profile {
    padding-right: 30px;
    padding-left: 20px;
} */